body{
    text-align: center;
	font-size: 20px;
	font-family: sans-serif;
    color: black;
    background-color: rgb(9, 56, 9);
}

#wrapper{
    background-color: rgb(42, 109, 42);
    width:70%;
    margin: auto;
}

#display{
    font-size: 36px;
    margin-bottom:20px;
}

.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#start,
.button{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(16, 133, 99);
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
